{:title "Fulcro Explained 1"
 :tags #{"clojure", "fulcro", "tutorial"}
 :file "fulcro-explained-1.md"
 :aliases #{"fulcro-tutorial-1"}
 :date #inst "2022-02-02"}

{:title "Biosphere"
 :type :project
 :tags #{"clojure" "virtual-life"}
 :file "biosphere.md"
 :date #inst "2020-02-29"
 :project/status :active}

{:title "Jebediah – Arguing With a Social Bot"
 :type :publication
 :abstract "In this demonstration we will showcase Jebediah, a social bot based on Google’s Dialogflow. Jebediah is a front-end to dialog-game execution platforms that enable their seamless integration into popular social networks such as Facebook or Twitter. Users can interact with the social bot using natural language while Jebediah translates the user input to a format that can be interpreted by a dialog game execution platform and vice versa."
 :pdf "https://wwwcn.cs.uni-duesseldorf.de/publications/publications/library/Meter2018a.pdf"
 :tags #{"demo", "online-argumentation", "conversational ui", "dialog-game execution platform", "AI"}
 :date #inst "2018-09"
 :file "jebediah-arguing-with-a-social-bot.md"
 :local-render? true}

{:title "decide: Supporting Participatory Budgeting with Online Argumentation"
 :type :publication
 :pdf "https://wwwcn.cs.uni-duesseldorf.de/publications/publications/library/Ebbinghaus2020a.pdf"
 :tags #{"demo", "online-argumentation", "participatory budgeting", "decision-making"}
 :date #inst "2020-09"
 :file "decide-comma20-demo.md"
 :local-render? true}

{:title "My first post!"
 :file "my-first-post.md"
 :date #inst "2021-12-06"}

{:title "Talk about clojure.core.async"
 :description "I did a talk about core.async for the 'Clojure Meetup Düsseldorf'."
 :header-img "https://pbs.twimg.com/media/DUVE-4xXkAAOmL9.jpg"
 :tags #{:clojure :talk}
 :file "talk-core-async.md"
 :date #inst "2018-01-24"}
