<!DOCTYPE html>
<html lang="en">
<head>
    {% block meta %}
    <title>{{title}}</title>
    {% endblock %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="base.css">
</head>
<body class="container bg-white p-8
             dark:bg-gray-800 dark:text-white">

<header class="relative">
    <div class="max-w-7xl mx-auto px-4 sm:px-6">
        <div class="flex justify-between items-center border-b-2 border-gray-100 py-6 md:justify-start md:space-x-10">
            <nav class="hidden md:flex space-x-10">
                <a href="index.html" class="text-base font-medium text-gray-500 hover:text-gray-900">
                Home
                </a>
            </nav>
        </div>
    </div>
</header>

<div class="mx-auto antialiased prose dark:prose-light">
    {% block content %}
    {% endblock %}
</div>


</body>
</html>
