{% extends "base.html" %}

{% block meta %}
    <title>{{title}}</title>
    <meta property="og:title" content="{{title}}"/>
    <meta property="og:type" content="article">

    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "BlogPosting",
            "headline": "{{title|abbreviate:110}}",
            "datePublished": "{{date|date:"yyyy-MM-dd"}}",
            {% if description %}
                "abstract": "{{description}}",
            {% endif %}
            "author": [{
                "@type": "Person",
                "name": "Björn Ebbinghaus"
              }]
        }
        </script>
{% endblock%}

{% block content %}
<article class="pt-4 md:pt-8" itemscope itemtype="https://schema.org/BlogPosting">
    <h1 itemprop="name">{{title}}</h1>
    {% include "components/datetime.html" with date=date %}

    <div itemprop="description articleBody">
        {{body|safe}}
    </div>
</article>


<footer>
    {% if not skip-archive %}
    <div class="object-right">
        <a class="page-link" href="archive.html">Archive</a>
    </div>
    {% endif %}
</footer>
{% endblock %}