---
layout: default
---

<div itemscope itemtype="http://schema.org/Person" style="display: None">
    <a itemprop="url" href="https://mroerni.github.io/"><div itemprop="name"><strong>Björn Ebbinghaus</strong></div>
    </a>
    <div itemprop="jobtitle">Computer Scientist</div>
    <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
    <div><span itemprop="addressRegion">NRW</span></div><div itemprop="addressCountry">Deutschland</div>
    </div>
    <div itemprop="email">bjoern@ebbinghaus.me</div>
</div>
<div>

  {{ content }}

</div>
